body {
    width: 100%;
    height: 400px;
    background-position: center;
background-image: url(7628367_3704171.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}